@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/open-sans-v17-latin-regular.woff2") format("woff2"),
       url("../fonts/open-sans-v17-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/open-sans-v17-latin-700.woff2") format("woff2"),
       url("../fonts/open-sans-v17-latin-700.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open sans", sans-serif;
  padding-top: 24px;
  padding-bottom: 46px;
  background-color: #1a2030;
  color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.started-button {
  background-color: #00b7d1;
  background-image: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 24px;
  padding: 16px;
  font-weight: 700;
  color: #fff;
}

/*===== GENERAL styles ended =====*/


/*===== HEADER part styles started =====*/

.header-container {
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.logo-link {
  transition: opacity 0.2s ease;
  white-space: nowrap;
}

.logo-link:active {
  opacity: 0.6;
}

.logo-img {
  display: block;
  width: 80px;
  height: 24px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  padding-left: 0;
}

.feature-item {
  margin-left: 24px;
}

.feature-link {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
}

/*===== HEADER part styles ended =====*/


/*===== MAIN part styles started =====*/

/*===== FIRST SECTION styles started =====*/

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  padding-left: 28px;
  padding-right: 28px;
  text-align: center;
}

.hero-section::before {
  content: "";
  width: 304px;
  height: 225px;
  margin: 33px;
  background-image: url("../img/hero-illustration.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero-image {
  order: -1;
  width: 304px;
  height: 225px;
  margin-bottom: 33px;
}

.hero-title {
  font-size: 24px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 15px;
}

.hero-description {
  width: 296px;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 32px;
}

.heder-started-button {
  display: inline-block;
  width: 240px;
  text-align: center;
  text-decoration: none;
}

/*===== FIRST SECTION styles ended =====*/

/*===== SECOND SECTION styles started =====*/

.convenience-info-container {
  margin-top: 120px;
  padding-left: 27px;
  padding-right: 28px;
}

.convenience-info-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.convenience-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.convenience-info-item:not(:last-child) {
  margin-bottom: 80px;
}

.convenience-info-item::before {
  content: "";
  width: 80px;
  height: 80px;
  margin-bottom: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.convenience-info-item:first-child::before {
  background-image: url("../img/feature-everywhere.png");
}

.convenience-info-item:nth-child(2)::before {
  background-image: url("../img/feature-security.png");
}

.convenience-info-item:nth-child(3)::before {
  background-image: url("../img/feature-collab.png");
}

.convenience-info-item:nth-child(4)::before {
  background-image: url("../img/feature-types.png");
}

.convenience-info-title {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 24px;
}

.convenience-info-description {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 21px;
}

/*===== SECOND SECTION styles ended =====*/

/*===== THIRD SECTION styles started =====*/

.performance-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
  padding-left: 28px;
  padding-right: 27px;
}

.performance-section-container::before {
  content: "";
  width: 304px;
  height: 229px;
  margin-bottom: 48px;
  background-image: url("../img/productivity.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.performance-section-title {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.performance-section-desctiption {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 16px;
}

.performance-section-link {
  display: flex;
  align-items: center;
  margin-right: auto;
  border-bottom: 1px solid #62E0D9;
  padding-bottom: 6px;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #62E0D9;
}

.performance-section-link:after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 7px;
  box-shadow: 0 0 1px 1px #62E0D9;
  border-radius: 50%;
  background-color: #62E0D9;
  background-image: url("../img/shape.svg");
  background-size: 8px 8px;
  background-repeat: no-repeat;
  background-position: center center;
}

/*===== THIRD SECTION styles ended =====*/


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .hero-section::before {
    background-image: url("../img/hero-illustration@2x.png");
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .convenience-info-item:first-child::before {
    background-image: url("../img/feature-everywhere@2x.png");
  }

  .convenience-info-item:nth-child(2)::before {
    background-image: url("../img/feature-security@2x.png");
  }

  .convenience-info-item:nth-child(3)::before {
    background-image: url("../img/feature-collab@2x.png");
  }

  .convenience-info-item:nth-child(4)::before {
    background-image: url("../img/feature-types@2x.png");
  }

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .performance-section-container::before {
    background-image: url("../img/productivity@2x.pngproductivity.png");
  }
}